extends layout

block content
  nav
    .nav-logo
      img(src='/images/banner.jpg')
    .nav-links
      div
        a(href='#')
          img(src='/images/picture.png')
          div Now Playing
        .submenu
          a(href='#') Today's Movies
          a(href='#') Calendar
          a(href='#') Theme Nights
          a(href='#') Free Activities
          a(href='#') Advance Tickets
      div
        a(href='#')
          img(src='/images/pizza.png')
          div Cafe
        .submenu
          a(href='#') About Our Kitchen
          a(href='#') Sample Menu
          a(href='#') Free Activities
      div
        a(href='#')
          img(src='/images/couch.png')
          div  About
        .submenu
          a(href='#') About
          a(href='#') History
          a(href='#') Press &#38; Reviews
          a(href='#') Getting Here
          a(href='#') Join the Mailing List
          a(href='#') Buy Gift Cards
      div
        a(href='#')
          img(src='/images/heart.png')
          div Getting Involved
        .submenu
          a(href='#') Join the Mailing List
          a(href='#') Karma Cinema
          a(href='#') Host a Benefit Event
          a(href='#') Work at the New Parkway
          a(href='#') Party at the Parkway
          a(href='#') Become an Investor
      div
        a(href='#')
          img(src='/images/pub.png')
          div Facility Rental
        .submenu
          a(href='#') Rental Overview
          a(href='#') Facility Rental FAQs
      div
        a(href='#')
          img(src='/images/rss.png')
          div Blog
  
  .content
    h1 Calendar
    p THE NEW PARKWAY THEATER is a community-centered cinema and pub located in Oakland’s Uptown district. Sit back and relax in our cozy couches while watching our new releases, cult classics, and fabulous special programming. Plus, enjoy yummy food and local beer and wine in our café or even delivered right to your theater seat all at affordable prices!

    p The following calendar includes all events currently scheduled at the theater.  If a date is not listed, please do not assume that we are closed on that day.  It just means that we don’t yet know what will be playing then.  As a second-run theater, we often only know what movies we’re getting on the Tuesday before the Friday that they open.  So please check back often for any updates and changes, or #[a(href='#') subscribe to our newsletter] to have our weekly schedule delivered straight to your inbox. We also list selected events #[a(href='#') on our Facebook.]

    p Tickets for most movies are $8 and you may #[a(href='#') buy advance tickets] for nearly all events. We offer a $1 discount (in person only) for students, seniors, and cyclists who bring their helmets in. Kids three and under are free. All #[a(href='#') Karma Cinema] Wednesday films when you buy in person are pay-what-you’d like with 20% going to our monthly Karma Cinema partner.  Groupons/LS must be redeemed in-house, are only valid for $8 movies, may not be used after 5pm on Saturdays, and all items must be redeemed at the same time. You may also want to check the fine print of our #[a(href='#') refund policy.]

    p Don’t miss our first-ever #[a(href='#') Oakland Week,] September 16-22.

    p We don’t yet have the following films, but plan on getting them soon: The Secret Lives of Pets, Cafe Society Star Trek, Don’t Think Twice, Pete’s Dragon, Sausage Party, Hell or High Water, Florence Foster Jenkins, In Order of Disappearance, Don’t Breathe, Southside With You, and more! Here’s what’s coming up:

    p #[a(href='#') Thursday, September 8, 2016]
      ul
        li 4:00 pm GHOSTBUSTERS (Baby Brigade)
        li 4:45 pm LITTLE MEN
        li 6:35 pm HUNT FOR THE WILDERPEOPLE
        li 6:55 pm CAPTAIN FANTASTIC
        li 7:30 pm TRIVIA NIGHT, free on the Mezzanine!
        li 9:00 pm THE BEST OF CINEKINK 2016, with post-film discussion
        li 9:30 pm REPO MAN (Parkway Classics)
    p #[a(href='#') Friday, September 9, 2016]
      ul
        li 4:00 pm FINDING DORY
        li 5:30 pm GHOSTBUSTERS
        li 6:30 pm CAPTAIN FANTASTIC
        li 8:05 pm HUNT FOR THE WILDERPEOPLE
        li 9:10 pm TRAIN TO BUSAN
        li 10:30 pm MYSTERY MYSTER SCIENCE THEATER 3000 (FNL)
    p #[a(href='#') Saturday, September 10, 2016]
      ul
        li 10:00 am CEREAL CINEMA, a classic cartoon and all-you-can-eat breakfast combo
        li 12:15 pm FINDING DORY
        li 12:45 pm NAUSICAA OF THE VALLEY OF THE WIND (dubbed)(Baby Brigade)
        li 2:30 pm GHOSTBUSTERS
        li 4:45 pm ALL ACCESS: IT'S TIME TO MAKE ABORTION ACCESS A REALITY
        li 5:05 pm EQUITY
        li 7:25 pm HUNT FOR THE WILDERPEOPLE
        li 8:30 pm CAPTAIN FANTASTIC
        li 9:45 pm BLOOD FATHER
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
    p 
      ul
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 
        li 







