doctype html
html
  head
    title The New Parkway
    link(href="http://fonts.googleapis.com/css?family=Rambla" rel="stylesheet" type="text/css")
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    main
      block content
