doctype html
html
  head
    title Movies
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/redesign-style.css')
  body
    nav
    .nav-logo
      img(src='/images/banner.jpg')
    .nav-links
      ul
        li Hi
        li Hello
        li Bonjour
        li Ciao
        li Hola