doctype html
html
  head
    title Movies
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/redesign-style.css')
    link(href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css")
  body
    .nav-bar
      ul
        li.nav-tabs #[a(href='#') Now Playing]
        li.nav-tabs #[a(href='#') Movie Listing]
        li.nav-tabs #[a(href='#') Cafe]
        li.nav-tabs #[a(href='#') About]
        li.nav-tabs #[a(href='#') Getting Involved]
        li.nav-tabs #[a(href='#') Facility Rental]
        li.nav-tabs #[a(href='#') Blog]
      