doctype html
html
  head
    title Movies
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/redesign-style.css')
    link(href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css")
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js')
    script(src='javascripts/moviepage.js')

  body
    .nav-bar
      ul
        li.nav-tabs #[a(href='#') Now Playing]
        li.nav-tabs #[a(href='#') Movie Listing]
        li.nav-tabs #[a(href='#') Cafe]
        li.nav-tabs #[a(href='#') About]
        li.nav-tabs #[a(href='#') Getting Involved]
        li.nav-tabs #[a(href='#') Facility Rental]
        li.nav-tabs #[a(href='#') Blog]
    //- .gallery
    //-   .gallery-main
    //-     .gallery-main-image
    //-       img(src='/images/Busan.jpg')
    //-     .gallery-filmstrip
    //-       a(href='#')
    //-         img(src='/images/Dory.jpg')
    //-       a(href='#')
    //-         img(src='/images/Fantastic.jpg')
    //-       a(href='#')
    //-         img(src='/images/Ghostbusters.jpg')
    //-       a(href='#')
    //-         img(src='/images/Science.jpg')
    //-       a(href='#')
    //-         img(src='/images/Wilderpeople.jpg')

